{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind Css -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/75a85f6b7c.js" crossorigin="anonymous"></script>

    <!-- Icon --> 
    <link rel="shortcut icon" href="{% static 'core/img/nebulei-logo.svg' %}" />
    <link rel="icon" href="{% static 'core/img/nebulei-logo.svg' %}" />

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'core/css/core_base.css' %}">

    {% block styles %}{% endblock %}

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Nebulei | Build, Discover, Collab and Research</title>
    {% endif %}

</head>
<body>


    
    <section class="section">
        {% block content %}

        {% endblock %}
    </section>


    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.0.5/gsap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.7.7/babel.min.js"></script>
    <script type="text/javascript" src="{% static 'core/js/core_base.js' %}"></script>

    {% block scripts %}{% endblock scripts %}

</body>
</html>